@import 'reset';
@import 'utilities';

#seat-wrapper {
  height: 100vh;
  overflow: hidden;
  /* position: relative; */
  touch-action: none;
  width: 100vw;
}

.Concept1 {
  .st0 {
    fill: #ffffff;
  }
  .st1 {
    font-family: 'ArialMT';
  }
  .st2 {
    font-size: 14.5232px;
  }
  .st3 {
    font-size: 8.9066px;
  }
  .st4 {
    font-size: 4.5258px;
  }
  .st5 {
    font-size: 3.8655px;
  }
  .st6 {
    font-size: 3.8656px;
  }
  .st7 {
    fill: none;
    stroke: #000000;
    stroke-miterlimit: 10;
  }
  .st8 {
    font-size: 5.6145px;
  }
  .st9 {
    font-size: 5.6143px;
  }
  .st10 {
    fill: #ff7bac;
    stroke: #ff7bac;
    stroke-width: 0.335;
    stroke-miterlimit: 10;
  }
  .st10-held {
    fill: #ffffff;
    stroke: #ff7bac;
    stroke-width: 0.893;
  }
  .st10-reserved {
    fill: url(#st10-reserved);
  }
  .st10-pending {
    fill: url(#st10-pending);
  }
  .st10-sold {
    fill: #cfd4da;
  }
  .st11 {
    fill: #2d6005;
    stroke: #2d6005;
    stroke-width: 0.335;
    stroke-miterlimit: 10;
  }
  .st11-held {
    fill: #ffffff;
    stroke: #2d6005;
    stroke-width: 0.893;
  }
  .st11-reserved {
    fill: url(#st11-reserved);
  }
  .st11-pending {
    fill: url(#st11-pending);
  }
  .st11-sold {
    fill: #cfd4da;
  }
  .st12 {
    fill: #06215e;
    stroke: #06215e;
    stroke-width: 0.335;
    stroke-miterlimit: 10;
  }
  .st-12-held {
    fill: #ffffff;
    stroke: #06215e;
    stroke-width: 0.893;
  }
  .st-12-reserved {
    fill: url(#st-12-reserved);
  }
  .st-12-pending {
    fill: url(#st-12-pending);
  }
  .st-12-sold {
    fill: #cfd4da;
  }
}

.Concept2 {
  .st0 {
    fill: #ffffff;
  }
  .st1 {
    font-family: 'ArialMT';
  }
  .st2 {
    font-size: 14.5232px;
  }
  .st3 {
    font-size: 8.9066px;
  }
  .st4 {
    font-size: 4.5258px;
  }
  .st5 {
    font-size: 3.8655px;
  }
  .st6 {
    font-size: 3.8656px;
  }
  .st7 {
    fill: none;
    stroke: #000000;
    stroke-miterlimit: 10;
  }
  .st8 {
    font-size: 5.6145px;
  }
  .st9 {
    font-size: 5.6143px;
  }
  .st10 {
    fill: #ffffff;
    stroke: #ff7bac;
    stroke-width: 0.893;
    stroke-miterlimit: 10;
  }
  .st10-held {
    fill: url(#st10-held);
    stroke-width: 0.335;
  }
  .st10-reserved {
    fill: url(#st10-reserved);
    stroke-width: 0.335;
  }
  .st10-pending {
    fill: url(#st10-pending);
    stroke-width: 0.335;
  }
  .st10-sold {
    fill: #cfd4da;
    stroke-width: 0.335;
  }
  .st11 {
    fill: #ffffff;
    stroke: #2d6005;
    stroke-width: 0.893;
    stroke-miterlimit: 10;
  }
  .st11-held {
    fill: url(#st11-held);
    stroke-width: 0.335;
  }
  .st11-reserved {
    fill: url(#st11-reserved);
    stroke-width: 0.335;
  }
  .st11-pending {
    fill: url(#st11-pending);
    stroke-width: 0.335;
  }
  .st11-sold {
    fill: #cfd4da;
    stroke-width: 0.335;
  }
  .st12 {
    fill: #ffffff;
    stroke: #06215e;
    stroke-width: 0.893;
    stroke-miterlimit: 10;
  }
  .st-12-held {
    fill: url(#st11-held);
    stroke-width: 0.335;
  }
  .st-12-reserved {
    fill: url(#st-12-reserved);
    stroke-width: 0.335;
  }
  .st-12-pending {
    fill: url(#st-12-pending);
    stroke-width: 0.335;
  }
  .st-12-sold {
    fill: #cfd4da;
    stroke-width: 0.335;
  }
}

svg {
  height: 100%;
  transform-origin: 0 0 0;
  width: 100%;
  will-change: transform;
}

#overview > * {
  opacity: 1;
  transition: opacity 0.25s ease;
}

#overview > .hidden {
  opacity: 0;
}

circle {
  stroke: #fd5f60;
  stroke-width: 4;
}
